table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  border: 1px solid #050505;
  padding: 2%;
  text-align: left;
}

th {
  background-color: #1c1b1b00;
}
.navig a:hover{
  color: #272ad6;
}
.navig {
  text-decoration: n;
}
.titolo{
  font:  17rem;
  font-weight: bold;
  font-style: italic;
  color: burlywood;
}

a:link, a:visited{
  color: #3f0000;
}

.headtext{
    text-align: center;
    
}
.underhead{
    color: blue;
}

.headtext {
  background-image:url(/U1W1D3/assets.css/header-bg.jpg);
  background-size:cover;
  background-position: center;
  
  background-color: #050505
  

}
html{
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100..900&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
font-family: sans-serif;
}

.list :nth-child(odd){
background-color:rgb(255, 251, 251);
}

.backdoor{
  background-color: rgb(248, 239, 227);
}
.bottom{
  background-color: burlywood;
  color: rgb(0, 0, 0);
}

.chiusura{
  border-radius: auto;
  background-color:burlywood;
  color: #3f0000;
}